@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css");

@font-face {
    font-family: gravity;
    src: url(../../assets/Gravity-Regular.otf);
  }

.logo-menu{
    width: 30%;
    height: auto;
}

.banner {
  /* background: black; */
  /* background: url('./assets/landing/bg-banner.jpg') no-repeat center center fixed; */
  background-image: url('../../assets/landing/bg-banner-display.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 20!important;
  position: relative;
}

/*-------- Modal registrar --------*/


/*-------- Login -----------*/
.login{
    /* width: 50vh; */
    /* margin-left: 60%; */
    padding-top: 50%;
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 500px){
    .login{
        /* width: 50vh; */
        /* margin-left: 60%; */
        padding-top: 20%;
        padding-right: 30px;
        }
}

.text-login{
    color: #fff;
    font-family: "gravity";
    font-size: 23px;
}

.recover-pass{
    color: #fff;
    font-family: "gravity";
}

.button-login{
    width: 48%;
    height: auto;
    font-family: "gravity";
    background-color: #0090D4;
    color: #fff;
    font-size: 18px;
    margin-right: 2%;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 10px 10px;
}

.button-signup{
    width: 48%;
    height: auto;
    font-family: "gravity";
    background-color: #00812C;
    color: #fff;
    font-size: 18px;
    margin-left: 2%;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 10px 10px;
}

/*-------- Section Seguridad ---------*/
.seguridad{
    background-color: #0090D4;
    padding: 6% 8%;
    color: #fff;
    font-family: "gravity";
}

.title-seguridad{
    font-size: 41pt;
    text-align: right!important;
}

.text-seguridad{
    font-size: 20pt;
    text-align: right!important;
}

.img-center{
    margin-left: 40px;
    margin-top: 28px;
}

@media(max-width: 988px){
    .title-seguridad{
        font-size: 41pt;
        text-align: center!important;
    }
    
    .text-seguridad{
        margin-top: 10px;;
        font-size: 20pt;
        text-align: center!important;
    }
    .img-center{
        margin-top: 20px;
        margin-left: 12%;
    }
}

@media(max-width: 620px){
    .title-seguridad{
        font-size: 30pt;
        text-align: center!important;
    }
    
    .text-seguridad{
        margin-top: 10px;;
        font-size: 15pt;
        text-align: center!important;
    }

    .img-center{
        margin-top: 20px;
        margin-left: 0px;
    }

    .button-signup-sticky{
      height: auto;
      width: 50%!important;
      font-family: "gravity";
      background-color: #fff;
      color: #0090D4;
      font-size: 18px;
      margin-top: 35px;
      border: 2px solid #0090D4;
      border-radius: 4px;
      padding: 10px 10px;
      position: fixed;
      bottom: 20px;
      left: 25%!important;
      z-index: 10!important;
  }
}

.button-signup-sticky{
    height: auto;
    width: 18%;
    font-family: "gravity";
    background-color: #fff;
    color: #0090D4;
    font-size: 18px;
    margin-top: 35px;
    border: 2px solid #0090D4;
    border-radius: 4px;
    padding: 10px 10px;
    position: fixed;
    bottom: 20px;
    left: 41%;
    z-index: 10!important;
}

/*-------- Section proveedores ----------*/
.proveedores{
  background-image: url('../../assets/landing/bg-proveedores.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.container-proveedores{
  height: 100vh;
  background: linear-gradient(to right, rgba(1, 36, 59,0), rgb(1, 36, 59));
}

.container-text{
  padding-left: 30px;
}

.img-shield{
  margin-top: 30vh;
}

.title-proveedores{
  font-size: 40pt;
  font-family: "gravity";
  color: #0090D4;
  margin-top: 18vh;
}

.text-proveedores{
  font-size: 18pt;
  font-family: "gravity";
  color: #fff;
}

@media(max-width: 992px){
  .container-text{
    padding-left: 0px;
  }

  .img-shield{
    height: 20vh;
    width: auto;
    margin-top: 40vh;
  }

  .title-proveedores{
    font-size: 25pt;
    font-family: "gravity";
    color: #0090D4;
    margin-top: 30vh;
    padding-right: 90px;
  }

  .text-proveedores{
    font-size: 12pt;
    font-family: "gravity";
    color: #fff;
    padding-right: 90px;
    margin-top: 15px;
  }
}

@media(max-width: 768px){
  .title-proveedores{
    font-size: 25pt;
    font-family: "gravity";
    color: #0090D4;
    margin-top: 30vh;
    padding-right: 20px;
  }

  .text-proveedores{
    font-size: 12pt;
    font-family: "gravity";
    color: #fff;
    padding-right: 20px;
    margin-top: 15px;
  }
}

@media(max-width: 415px){
  .img-shield{
    height: 40vh;
    margin-left: 8vh;
    width: auto;
    margin-top: 10vh;
  }

  .title-proveedores{
    font-size: 18pt;
    font-family: "gravity";
    color: #0090D4;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .text-proveedores{
    font-size: 11pt;
    font-family: "gravity";
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
  }
}

/* Section cifras */
.cifras{
  background-color: #fff;
  padding: 5% 10%;
}

.title-cifras{
  color: #707070;
  font-size: 32pt;
  font-family: "gravity";
  text-align: center;
}

.icon-favorables{
  padding: 5% 4%;
}

.text-favorables{
  font-size: 12pt!important;
  font-family: "gravity";
  text-align: center;
  margin-top: 23px;
  background-color: #00812C;
  color: #fff;
  padding: 10px 3px;
  border-radius: 4px;
}

.title-favorables{
  color: #00812C;
  font-size: 15pt;
  text-align: center;
  margin-top: 20px;
}

.icon-presuntos{
  padding: 5% 4%;
}

.text-presuntos{
  font-size: 12pt!important;
  font-family: "gravity";
  text-align: center;
  margin-top: 23px;
  background-color: #E14908;
  color: #fff;
  padding: 10px 3px;
  border-radius: 4px;
}

.title-presuntos{
  color: #E14908;
  font-size: 15pt;
  text-align: center;
  margin-top: 20px;
}

.icon-desvirtuados{
  padding: 5% 4%;
}

.text-desvirtuados{
  font-size: 12pt!important;
  font-family: "gravity";
  text-align: center;
  margin-top: 23px;
  background-color: #F08300;
  color: #fff;
  padding: 10px 3px;
  border-radius: 4px;
}

.title-desvirtuados{
  color: #F08300;
  font-size: 15pt;
  text-align: center;
  margin-top: 20px;
}

.icon-definitivos{
  padding: 5% 4%;
}

.text-definitivos{
  font-size: 12pt!important;
  font-family: "gravity";
  text-align: center;
  margin-top: 23px;
  background-color: #AB001A;
  color: #fff;
  padding: 10px 3px;
  border-radius: 4px;
}

.title-definitivos{
  color: #AB001A;
  font-size: 15pt;
  text-align: center;
  margin-top: 20px;
}

/* Section Planes y tarifas */
.planes{
  padding: 5% 10%;
  background-color: #00446b;
}

.title-planes{
  color: #fff;
  font-family: "gravity";
  text-align: center;
  font-size: 32pt;
  margin-bottom: 60px;
}

.container-aux{
  padding: 35px 35px;
  margin-bottom: 100px;
}

.container-plan{
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 12px;
}

.sub-plan-basico{
  border: 3px solid #00812C;
  border-radius: 20px;
}

.sub-plan-premium{
  border: 3px solid #F08300;
  border-radius: 20px;
}

.sub-plan-corp{
  border: 3px solid #AB001A;
  border-radius: 20px;
}

.img-plan{
  padding: 15px 28%;
}

.text-plan-basico{
  color: #00812C;
  text-align: center;
  margin-top: 10px;
  font-family: "gravity";
  font-size: 11pt;
}

.value-plan-basico{
  color: #00812C;
  text-align: center;
  text-align: center;
  margin-top: 7px;
  font-family: "gravity";
}

.button-basico{
  font-family: "gravity";
  background-color: #00812C;
  color: #fff;
  font-size: 16px;
  margin-left: 2%;
  border: 0px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 20px 0;
}

.text-plan-premium{
  color: #F08300;
  text-align: center;
  margin-top: 10px;
  font-family: "gravity";
  font-size: 11pt;
}

.value-plan-premium{
  color: #F08300;
  text-align: center;
  text-align: center;
  margin-top: 7px;
  font-family: "gravity";
}

.button-premium{
  font-family: "gravity";
  background-color: #F08300;
  color: #fff;
  font-size: 16px;
  margin-left: 2%;
  border: 0px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 20px 0;
}

.text-plan-corp{
  color: #AB001A;
  text-align: center;
  margin-top: 10px;
  font-family: "gravity";
  font-size: 11pt;
}

.value-plan-corp{
  color: #AB001A;
  text-align: center;
  text-align: center;
  margin-top: 7px;
  font-family: "gravity";
}

.button-corp{
  font-family: "gravity";
  background-color: #AB001A;
  color: #fff;
  font-size: 16px;
  margin-left: 2%;
  border: 0px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 20px 0;
}

/*-------- Section FAKTUROR ----------*/
h1 {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  text-align: center;
  color: #fff;
}

strong.blue {
  color: #4f8cbd;
}

.fakturor{
  background-color: #00446b;
  font-family: "gravity";
  padding-top: 80px!important;
  z-index: 11;
  margin-bottom: 15%;
}

.photo {
  float: left;
  width: 80px;
  margin-right: 20px;
  padding-left: 30px;
}

.description {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #f1f9fa;
}

.description p{
  padding-right: 30px;
}

/*-------- Footer ----------*/
.footer{
  background-color: #00446b;
  padding: 5vh 10vh;
  position: relative;
  z-index: 11;
}

.text-footer{
  color: #fff;
  font-family: "gravity";
}

.links-footer{
  margin-bottom: 40px;
}

.link-footer{
  color: #fff;
  font-family: "gravity";
  list-style: none;
}

.link-footer a{
  color: #fff;
  font-family: "gravity";
  font-size: 12pt;
}

.link-footer a:hover{
  color: #0090D4;
}

.copy-footer{
  color: #fff;
  font-family: "gravity";
  font-size: 12pt;
  text-align: right;
  margin-top: 25px;
}

/*-------- MENU RESPONSIVE --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}

.flexbox-menu {
  position: fixed;
  height: 100%;
  width: 250px;
  font-size: 18px;
  background-color: #00446b;
  color: #fff;
  font-family: "gravity";
}

.link-activate{
    color: rgb(1, 187, 10)!important;
}


@media (min-width: 500px) {
  .flexbox-menu {
    display: flex;
    align-items: center;
    position: absolute!important;
    width: 100%;
    height: 25vh;
    z-index: 100;
    background-color: transparent;
  }
}
@media (min-width: 500px) {
  .flexbox-menu__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
  }
}
.flexbox-menu__title {
  height: 50px;
  background-color: #00446b;
  font-size: 1.75em;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 500px) {
  .flexbox-menu__title {
    display: none;
  }
}
.flexbox-menu__link {
  display: block;
  padding: 10px;
  border-bottom: wpx solid rgba(42, 42, 42, 0.5);
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  transition: all 0.3s;
}
.flexbox-menu__link:hover {
  padding-left: 15px;
  box-shadow: 5px 0 #fff inset;
}

@media (min-width: 500px) {
  .flexbox-menu__link {
    position: relative;
    border-bottom: none;
  }
  .flexbox-menu__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
  }
  .flexbox-menu__link:hover {
    box-shadow: 0 0;
    padding-left: 10px;
  }
  .flexbox-menu__link:hover::before {
    left: 0;
    width: 100%;
  }
}

.menu-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #00446b;
}

@media (min-width: 500px) {
  .menu-bar {
    display: none;
  }
}
.menu-bar__button {
  margin-left: 0.5em;
  font-size: 2em;
  cursor: pointer;
}

.main {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #00446b;
  transition: transform 0.75s cubic-bezier(0.89, -0.01, 0.19, 1.84);
}
.main.active {
  transform: translateX(250px);
}
.main__container {
  width: 100%;
  color: #fff;
  font-family: sans-serif;
}
.main__container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.main__container p {
  margin-bottom: 50px;
  line-height: 1.5;
  text-align: justify;
}
.main__container a {
  text-decoration: inherit;
  font-weight: bold;
}