@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css");

@font-face {
    font-family: gravity;
    src: url(../../assets/Gravity-Regular.otf);
  }

.logo-menu{
    width: 30%;
    height: auto;
}

.banner {
  /* background: black; */
  /* background: url('./assets/landing/bg-banner.jpg') no-repeat center center fixed; */
  background-image: url('../../assets/landing/bg-banner-display.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/*-------- Login -----------*/
.login{
    /* width: 50vh; */
    /* margin-left: 60%; */
    padding-top: 50%;
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 500px){
    .login{
        /* width: 50vh; */
        /* margin-left: 60%; */
        padding-top: 20%;
        padding-right: 30px;
        }
}

.text-login{
    color: #fff;
    font-family: "gravity";
    font-size: 23px;
}

.recover-pass{
    color: #fff;
    font-family: "gravity";
}

.button-login{
    width: 48%;
    height: auto;
    font-family: "gravity";
    background-color: #0090D4;
    color: #fff;
    font-size: 18px;
    margin-right: 2%;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 10px 10px;
}

.button-signup{
    width: 48%;
    height: auto;
    font-family: "gravity";
    background-color: #00812C;
    color: #fff;
    font-size: 18px;
    margin-left: 2%;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 10px 10px;
}

/*-------- Section Seguridad ---------*/
.seguridad{
    background-color: #0090D4;
    padding: 6% 8%;
    color: #fff;
    font-family: "gravity";
}

.title-seguridad{
    font-size: 41pt;
    text-align: right!important;
}

.text-seguridad{
    font-size: 20pt;
    text-align: right!important;
}

.img-center{
    margin-left: 40px;
    margin-top: 28px;
}

@media(max-width: 988px){
    .title-seguridad{
        font-size: 41pt;
        text-align: center!important;
    }
    
    .text-seguridad{
        margin-top: 10px;;
        font-size: 20pt;
        text-align: center!important;
    }
    .img-center{
        margin-top: 20px;
        margin-left: 12%;
    }
}

@media(max-width: 620px){
    .title-seguridad{
        font-size: 30pt;
        text-align: center!important;
    }
    
    .text-seguridad{
        margin-top: 10px;;
        font-size: 15pt;
        text-align: center!important;
    }
    .img-center{
        margin-top: 20px;
        margin-left: 0px;
    }
}

/*-------- MENU RESPONSIVE --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}

.flexbox-menu {
  position: absolute;
  height: 100%;
  width: 250px;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  font-family: "gravity";
}

.link-activate{
    color: rgb(1, 187, 10)!important;
}

@media (min-width: 500px) {
  .flexbox-menu {
    display: flex;
    align-items: center;
    /* position: static; */
    width: 100%;
    height: 25vh;
    z-index: 100;
  }
}
@media (min-width: 500px) {
  .flexbox-menu__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
  }
}
.flexbox-menu__title {
  height: 50px;
  background-color: #2a2a2a;
  font-size: 1.75em;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 500px) {
  .flexbox-menu__title {
    display: none;
  }
}
.flexbox-menu__link {
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgba(42, 42, 42, 0.5);
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  transition: all 0.3s;
}
.flexbox-menu__link:hover {
  padding-left: 15px;
  box-shadow: 5px 0 #fff inset;
}

@media (min-width: 500px) {
  .flexbox-menu__link {
    position: relative;
    border-bottom: none;
  }
  .flexbox-menu__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
  }
  .flexbox-menu__link:hover {
    box-shadow: 0 0;
    padding-left: 10px;
  }
  .flexbox-menu__link:hover::before {
    left: 0;
    width: 100%;
  }
}

.menu-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #444444;
}
@media (min-width: 500px) {
  .menu-bar {
    display: none;
  }
}
.menu-bar__button {
  margin-left: 0.5em;
  font-size: 2em;
  cursor: pointer;
}

.main {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  transition: transform 0.75s cubic-bezier(0.89, -0.01, 0.19, 1.84);
}
.main.active {
  transform: translateX(250px);
}
.main__container {
  width: 100%;
  color: #222;
  font-family: sans-serif;
}
.main__container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.main__container p {
  margin-bottom: 50px;
  line-height: 1.5;
  text-align: justify;
}
.main__container a {
  text-decoration: inherit;
  font-weight: bold;
}