/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: gravity;
  src: url(./assets/Gravity-Regular.otf);
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  background-color: #01243D;
}

.text-field {
  font-family: "gravity";
  height: 26px;
  border: 1px solid #fff;
  box-shadow: inset 0 0px 0px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 12px 10px!important;
  box-sizing: border-box;
  color: #01243D;
}

.dash-container{
  padding-top: 35px;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 685px;
}

.title-primary{
  color: #00446B;
  font-family: gravity;
  font-size: 20pt;
  margin: 0 0;
  padding: 0 0;
}

.title-secondary{
  color: #535353;
  font-family: gravity;
  font-size: 12pt;
  margin: 18px 0;
  padding: 0 0;
}

.button-blue{
  font-family: "gravity";
  background-color: #00446B;
  border-radius: 6px!important;
  padding: 6px 15px!important;
  box-sizing: border-box;
  color: #fff;
}

.button-green{
  font-family: "gravity";
  background-color: #02812D;
  border-radius: 6px!important;
  padding: 6px 15px!important;
  box-sizing: border-box;
  color: #fff;
}